{% extends 'base.html' %}

{% block content %}
  <div id="hi">Привет, {{ username }}</div>
  <div id="chatbox">
    {% for msg in history %}
      <div class="message">{{ msg }}</div>
    {% endfor %}
  </div>
  <form action="/bot/" name="bot" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить">
  </form>
  <script>
    var form = $('form');
    var action = form.attr('action');
    $(document).ready(function() {
      $(form).submit(function(event) {
        event.preventDefault();
        $.post(action, form.serialize())
          .done(function(data) {
            $('<div/>', {
              class: 'message',
              text: data.human_message
            }).appendTo('#chatbox');
            $('<div/>', {
              class: 'message',
              text: data.bot_message
            }).appendTo('#chatbox');
          });
      });
    });
  </script>
{% endblock %}
